p {
  font-family: arial;
  margin-bottom: 0px;
  margin-top: 0px;
}
.img {
  margin-right: 7px;
}
.img,
.summary {
  display: inline-block;
  vertical-align: top;
}

.flash-img {
  width: 220px;
  height: 125px;
}

.title {
  font-size: 20px;
  margin-top: 3px;
  width: 300px;
  margin-bottom: 15px;
}

.account-name {
  margin-bottom: 7px;
}
.account-name,
.stats {
  color: grey;
}

.video {
  margin-bottom: 7px;
}
